name: Flutter Web
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build Web
    env:
      my_secret: ${{secrets.ACTION_KEY}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: 'dev'
      - run: echo $ENV_FILE | base64 -d > assets/.env
        env:
          SECRETS_FILE_CONTENT: ${{ secrets.ENV_FILE }}
      - run: flutter config --enable-web
      - run: flutter pub get
      - run: flutter build web --release
      - run: |
          cd build/web
          git init 
          git config --global user.email ${{secrets.EMAIL}}
          git config --global user.name panda1835
          git status
          git remote add origin https://${{secrets.ACTION_KEY}}@github.com/panda1835/vnturtle-ui.git
          git checkout -b gh-pages
          git add --all
          git commit -m "update"
          git push origin gh-pages -f
